# Default ignored files
/shelf/
/.idea
# Datasource local storage ignored files
/../../../../../../../:\Users\27529\Desktop\GitHubProject\LibraryManageSysetm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target
/src/test
